html, body {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fafafa;
}

.swagcat-image {
    width: 50%;
    max-width: 750px;
    display: flex;
    justify-content: center;
}

.swagcat-image img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
    box-shadow: 2px 2px 8px rgba(0,0,0, 0.2);
    background-color: black;
}